.actionButtons{
  right: 5%;
  position:absolute;
  width:20%;
}

.table-bordered>:not(caption) {
}
.serverBackupRestoreButtons{
  width:15%;
  position:absolute;
  top:15%;
  right:5%;
  height:30%;
}
.alignCenter{
  padding-top: 10px;
}
.serverButtons{
  padding:0;
}
.singleLayout{
  right: 5%;
  width: 100%;
  position: absolute;
}
.border-thin{
  border-width: thin;
}
