.check-box-inputs{
  width: 5px;
}
#caption-settings{
    span{
        margin-bottom: 10px;
        display: block;
    }
}
button:hover{
    border-color: #01c0c8;
  }
.protection-dropdown {
  width: 188px !important;
}
