<!-- Use this component call to replace button in ever other component -->
<!-- <app-button btnType="add" className="addtionalClass"
    btnToggle="modal" btnTarget="#myModal" 
    (click)="btnAddFunction()" btnLabel="Add Users">
</app-button> 
<app-button btnType="edit" className="btn-info fR"
        btnToggle="modal" btnTarget="#myModal_Edit" 
        (click)="openEditModal()" btnLabel="Edit" [disabled]="loaderSmtp">
</app-button>
<app-button btnType="commit" className="addtionalClass"
            btnToggle="modal" btnTarget="#myModal_CommitRevert" 
            (click)="openModal_CR('commit')" btnLabel="Commit" [disabled]="!isDirty">
</app-button>
<app-button btnType="revert" className="addtionalClass"
            btnToggle="modal" btnTarget="#myModal_CommitRevert" 
            (click)="openModal_CR('revert')" btnLabel="Revert" [disabled]="!isDirty">
</app-button>
<app-button btnType="none" className="addtionalClass"
        btnToggle="modal" btnTarget="#myActResModal" 
        (click)="openActRefModal('onActRefreshOnline')" btnLabel="{{ButtonAct1}}">
</app-button>
-->

<button 
    type="button" 
    class="btn btn-rounded btn-dark btnFormat {{className}}"
    data-toggle="modal" 
    [attr.data-target]="btnTarget"
    (click)="btnClick"
    [disabled]="disabled">
    <i class="fa {{btnIcon}}"></i> {{btnLabel}}
</button>