.tab-content{
  height:auto;
}
.singleLayout{
  // right: 5%;
  // width: 100%;
  // position: absolute;
    width: 100%;
    position: relative;
    height: auto;
    float: right;
}

.hidden{
  display: none;
}
