.btnWidth100{
  width: 100%;
}

.field250{
  height: 200px;
}

.btnFormat{
  margin:0 2px!important;
}
button:hover{
  border-color: #01c0c8;
}
.vertical-line {
  width: 1px;
  height: 200px;
  border-left: 1px solid white;
  margin: 0 10px;
}
